<div class="container">
  <h2>Fredrik Mile del Canto</h2>
  <p> Software engineer </p>
  <div class="tags-container">
    <ng-container *ngFor="let tagAndCount of tagsToCount | keyvalue">
      <div class="tag-box" (click)="this.onTagSelected(tagAndCount.key)"
        [ngClass]="{'selected': selectedTag === tagAndCount.key}">
        <span>{{tagAndCount.key}}</span>
        <span>({{tagAndCount.value}})</span>
      </div>
    </ng-container>
  </div>
  <div class="post-container">
    <ng-container *ngFor="let post of posts">
      <app-post [post]="post"></app-post>
    </ng-container>
  </div>
</div>