.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    box-sizing: border-box;
}

.hello-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 2rem;
    height: 100vh;
    background-color: #f0e9e9;
}

.navigation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 2rem;
    height: 100vh;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.tag-box {
    gap: 0.2rem;
    display: flex;
    padding: 0.5rem;
    border: 0.1rem solid #95a7ef;
    border-radius: 1rem;
    color: #f5b265;
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 2rem;
    height: 100vh;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}