.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    box-sizing: border-box;
}

.hello-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 2rem;
    background-color: #F79B72;
    height: 100vh;
    color: black
}

.navigation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 2rem;
    height: 100vh;
    background-color: #2A4759;
    color: #EEEEEE
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 2rem;
    height: 100vh;
    border-right: 1px solid #EEEEEE;
    background-color: #2A4759;
    color: #EEEEEE
}